*{
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.main_menu{
    position: absolute;
    width: 100%;
    top: 35px;
}
.main_menu button{
  display: none;
}
.main_menu > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_menu ul{
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}
.main_menu ul a{
  padding:5px 20px;
  color:#000;
  font-weight: 400;
}
.main_menu ul .active a{
  color:#9b00ff;
}
.menu_sec{
  display:  flex;
}
.menu_sec a{
  text-decoration: none;
}
.logo_sec{
  padding-left:50px;
}
.logo_sec a{
  font-size: 36px;
  text-decoration: none;
  font-weight: 900;
  color:#000;
}
.menu_btn_link li:first-child a,.menu_btn_link li:last-child a{
  background:#9b00ff;
  color:#fff;
  padding: 13px 20px 15px;
  border-radius: 7px;
  display: flex;
}
.menu_btn_link li:last-child a{
  background:#ff001a;
  margin-left: 5px;
}
.ban_sec{
  background-image: url("/../banner-bg.svg");
  background-repeat: no-repeat;
  background-position: top 60px right;
  padding-top: 250px;
  background-size: 48%;
  padding-bottom: 100px;
}
.ban_tex_sec{
  color: #3c3c3c;
  margin-left:0;
}
.ban_tex_sec span{
  color:#ff0056;
}
.ban_tex_sec h1{
  margin-top: 30px;
  font-size: 50px;
  color: #000;
  margin-bottom: 100px;
  margin-left: -7%;
}
.ban_btn_list{
  list-style: none;
  padding-left: 0;
  display: flex;
}

.ban_btn_list button{
    font-size: 16px;
    padding: 14px 25px 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 10px;
    border:0;
}
.ban_btn_list button:focus{
  outline:0;
}
.ban_btn_list button.active{
  background: #9b00ff;
  color: #fff;
}
.col_md_6{
  width:60%;
}
.form_sec{
  display: flex;
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #9b00ff;
    padding: 25px;
    font-size: 16px;
    border-radius: 10px;
    border-top-left-radius: 0;
    flex-wrap: wrap;
    width:100%;
}
form > div{
  position: relative;
}
.job_tit:before,.job_cat:before,.job_loc:before{
  content: "\f0b1";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  color: #d9d9d9;
  font-size: 20px;
  top: 20px;
  left: 5px;
}
.job_cat:before{
  content: "\f107";
}
.job_loc:before{
  content: "\f041";
}
form  input{
    padding: 15px 20px;
    min-height: 28px;
    font-size: 16px;
    border-radius: 10px;
    border:0;
    width:120px;
}
form .sub input{
  min-height:58px;
  background:#ff001a;
  color:#fff;
}
input::placeholder {
    padding: 10px;
}
.round_cur form{
    border-top-left-radius: 10px;
}
.data_page{
  padding:10px 15px;
}
.data_page h1{
    text-align: center;
    border: 2px;
    background: #000;
    color: #fff;
    font-size: 45px;
    padding: 20px;
}
.user_avter_icon{
  float: right;
  width: 55px;
}
.data_page ul{
  list-style: none; 
  padding: 0;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.data_page ul li{
      width: 45%;
    margin-right: 5%;
    margin-bottom:30px;
}
.user_block{
    border: 2px solid;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: 2px 4px 8px #9999;
    transition: all 1s;
    font-size: 22px;
    cursor: pointer;
}
.user_block:hover{
  border-radius: 20px;
  box-shadow: 5px 9px 14px #9999;
}
.user_block p{
      border: 2px solid;
    padding: 5px 10px;
    background:#eee;
    margin-bottom:5px;
}
.dus_box i{
  font-size: 100px;
  float: right;
}
@media (max-width: 1199.98px) {
  .user_block{
    font-size:16px;
  }
  .dus_box i {
    font-size: 70px;
  }
  .container{
      max-width: 90%;
  }
  form > div {
      margin-bottom: 20px;
  }
  form > div:last-child{
    margin-bottom: 0;
  }
}
@media (max-width: 991.98px) {
  .user{
    width:80%;
    overflow: hidden;
  }
  .dus_box i {
    font-size: 55px;
  }
  .logo_sec{  
    padding-left: 0;
  }
  .logo_sec a {
    font-size: 26px;
  }
  .main_menu ul a {
    padding: 5px 11px;
  }
  .ban_sec{
      background-size: 55%;
      padding-top: 175px;
  }
  .ban_tex_sec h1{
        margin-left: 0;
        font-size: 42px;
  }
  .col_md_6 {
      width: 80%;
  }
}
@media (max-width: 767.98px) {
  .dus_box i {
      font-size: 46px;
  }
  .menu_btn_link li:first-child a, .menu_btn_link li:last-child a{
    padding: 7px 10px 7px;
  }
  .menu_sec .menu_link{
    display: none;
    transition: all 1s;
  }
  .main_menu button{
    display: block;
    order: 3;
    font-size: 30px;
    background: none;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    width:46px;
  }
  .main_menu{
    top:20px;
  }
  .menu_link.active{
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    background: #fff;
    top: 40px;
  }
  .main_menu button:focus{
    outline:0;
  }
  .menu_link li a{
    display: block;
    padding-top: 10px;
    padding-left: 27px;
    padding-bottom: 10px;
  }
   .menu_link li{
    border-bottom:1px solid #ff001a;
   }
   .ban_tex_sec{
      color:#fff;
   }
   .ban_tex_sec h1{
      margin-top: 20px;
      color: #fff;
      margin-bottom: 40px;
   }
   .col_md_6{
      background: rgba(0,0,0,0.3);
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
   }
   form > div:last-child{
      margin-bottom: 20px;
   }
   form .sub input{
      min-width:158px;
   }
}
@media (max-width: 575.98px) { 
  .data_page ul li{
      width: 100%;
    margin-right: 0;
  }
  .col_md_6{
    width:92%;
  }
  form > div{
    width:100%;
  }
  form input{
    width: 88%;
  }
  .form .sub input{
    width:100%;
  }
}